<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        placeholder="Enter your password"
        formControlName="password"
        (focus)="this.form.markAllAsTouched()"
      />
      <app-boxes [passwordStatus]="passwordStatus"></app-boxes>
      <p *ngIf="passwordStatus" class="tip">Password is {{ passwordStatus }}</p>
    </div>
  </form>
</div>
